
.containerCard {
    width: min-content;
    white-space: nowrap;
    border-radius: 8px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}


.contentCard {
    padding: 12px;
    width: min-content;
    background: rgba(128,128,128, 0.8);
    border-radius: 5px;
}

.spanKey {
    color: darkblue;
}

.spanValue {
   color: #7209b7;
}

.containerBtns {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: stretch;
}

.containerBtns button {
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
    width: 60px;
    padding: 3px;
    background: rgba(0, 0, 0, 0);
}

.updateBtn {
    color: gold;
}

.deleteBtn {
    color: darkred;
}

.updateBtn:active {
    border: solid 2px gold;
    font-size: 12.5px;
}

.deleteBtn:active {
    border: solid 2px darkred;
    font-size: 12.5px;
}